.about-section {
  background-color: #05050505;
  color: #fff;
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
  align-items: center;
}

.about-profile {
  flex: 1;
  text-align: center;
}

.about-profile-img {
  width: 300px; 
  height: 450px; 
  border-radius: 10px;
  border: 1px solid #8f8b7f; 
  object-fit: cover;
  margin-bottom: 20px;
}

.about-name {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.about-title {
  font-size: 16px;
  font-weight: 500;
  color: #aaa;
  margin-top: 5px;
}

.about-content {
  flex: 2;
}

.about-heading {
  font-size: 32px;
  font-weight: 700; 
  /* color: #9e446ea9;  */
  color:rgb(163, 79, 163); 
  
  margin-bottom: 20px;
  border-bottom: 3px solid rgb(143, 101, 143);
  display: inline-block;
  padding-bottom: 5px; 
}

.about-description {
  font-size: 18px;
  line-height: 1.8;
  color: #ddd;
  margin-bottom: 30px;
}

.about-skills {
  margin-bottom: 30px;
}

.skills-heading {
  font-size: 22px;
  font-weight: 600;
  color:rgb(163, 79, 163);
  margin-bottom: 15px;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.skills-list li {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.skills-list li:hover {
  background: #ccc9ce73;
  color: #000; 
  cursor: pointer;
}

.about-education {
  margin-bottom: 30px;
}

.education-heading {
  font-size: 22px;
  font-weight: 600;
  color:rgb(163, 79, 163);
  margin-bottom: 15px;
}

.education-card {
  background: #111;
  border: 1px solid #333;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}


.education-card:hover {
  box-shadow: 0 4px 3px rgba(151, 133, 72, 0.5);
}

.education-card h5 {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 5px;
}

.education-card p {
  font-size: 17px;
  margin-bottom: 5px;
  color: #aaa; 
}

@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-profile {
    margin-bottom: 30px;
  }

  .skills-list {
    justify-content: center;
  }
}
